:root {
  --color-primary: #5161ce;
  --color-light: #fff;
  --color-gray: #f8eded;
  --color-danger: #ef5a6f;
  --color-green: #658147;
  --color-peach: #f7dcb9;
  --text-color: #222;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  font-size: 62.5%;
}

.App {
  background-color: #eee;
  min-height: 100vh;
}

nav {
  padding: 1.6rem 3.2rem;
  background-color: var(--color-primary);
}

nav .brand-heading {
  font-size: 2rem;
  color: var(--color-light);
}

.nav-box {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.player-container {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.player {
  background-color: var(--color-danger);
  width: 100%;
  /* min-height: 5rem; */
  /* padding: 1.4rem; */
}

.list {
  list-style-type: none;
}

.listitem {
  width: 90%;
  background-color: var(--color-light);
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listitem span {
  font-size: 1.8rem;
  color: var(--color-primary);
}

.layout {
  display: flex;
}

.sidebar {
  flex: 1;
  background-color: var(--color-peach);
}

.sidebar-container {
  padding: 1rem;
}

.options {
  background-color: var(--color-gray);
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}

.options span {
  margin-left: 2rem;
  font-weight: 500;
}

.tracks {
  flex: 5;
}

.player-items {
  display: flex;
}

.current-details {
  background-color: var(--color-light);
  flex: 2;
  padding: 1.4rem 1rem;
}

.song-controls {
  flex: 9;
  padding: 0.6rem 1rem;
}

.extra-options {
  background-color: var(--color-green);
  flex: 3;
}

.progress {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.controls-placement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.time {
  font-size: 1.6rem;
}

/* PLAYLIST */
.playlist {
  /* margin-top: 408px; */
  padding: 1.2rem;
}

.song {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song:hover {
  cursor: pointer;
}

.song.active {
  background-color: var(--primary-color);
}

.song:active {
  opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
  color: #fff;
}

.song .thumb {
  width: 44px;
  height: 44px;
  border-radius: 4px;
  background-color: var(--color-gray);
  background-size: cover;
  margin: 0 8px;
}

.song .body {
  flex: 4;
  padding: 0 16px;
}

.song .title {
  font-size: 18px;
  color: var(--text-color);
}

.song .author {
  font-size: 12px;
  color: var(--text-color);
}

.song .option {
  flex: 1;
  padding: 16px 8px;
  color: #999;
  /* justify-content: end; */
  font-size: 2rem;
}

.song-time {
  flex: 1;
  font-size: 1.6rem;
}
/*  */

.song-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.song-artist {
  font-size: 1.2rem;
  color: var(--text-color);
}
