:root {
  --color-primary: #5161ce;
  --color-light: #fff;
  --color-gray: #f8eded;
  --color-danger: #ef5a6f;
  --color-green: #658147;
  --color-peach: #f7dcb9;
  --color-disabled: #999;
  --text-color: #222;
  --color-player: #666666;

  --color-blue-light: #dae8f5;
}

a {
  color: #0060b6;
  text-decoration: none;
}

a:hover {
  color: #00a0c6;
  text-decoration: none;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  font-size: 62.5%;
}

.App {
  background-color: #eee;
  min-height: 100vh;
}

nav {
  padding: 1.6rem 3.2rem;
  background-color: var(--color-primary);
}

nav .brand-heading {
  font-size: 2rem;
  color: var(--color-light);
}

.nav-box {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
}

.player-container {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}

.player {
  background-color: var(--color-player);
  width: 100%;
  /* min-height: 5rem; */
  /* padding: 1.4rem; */
}

.list {
  list-style-type: none;
}

.listitem {
  width: 90%;
  background-color: var(--color-light);
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listitem span {
  font-size: 1.8rem;
  color: var(--color-primary);
}

.layout {
  display: flex;
  min-height: 90vh;
}

.sidebar {
  flex: 1;
  background-color: var(--color-peach);
}

.sidebar-container {
  padding: 1rem;
}

.options {
  background-color: var(--color-gray);
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
}

.options span {
  margin-left: 2rem;
  font-weight: 500;
}

.main {
  flex: 5;
}

.tracks {
  padding: 4px 6px;
}

.player-items {
  display: flex;
}

.current-details {
  background-color: var(--color-player);
  flex: 2;
  padding: 1.4rem 1rem;
  display: flex;
}

.song-controls {
  flex: 9;
  padding: 0.6rem 1rem;
}

.extra-options {
  background-color: var(--color-player);
  flex: 3;
}

.progress {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.controls-placement {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 1rem; */
}

.controls-wrapper {
  width: 30rem;
  /* display: flex; */
}

.time {
  font-size: 1.6rem;
}

/* PLAYLIST */
.playlist {
  /* margin-top: 408px; */
  padding: 1.2rem;
}

.song {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song:hover {
  cursor: pointer;
  background-color: var(--color-danger);
}

.song.active {
  background-color: var(--color-danger);
}

.song:active {
  opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
  color: #fff;
}

.song .thumb {
  width: 44px;
  height: 44px;
  border-radius: 4px;
  background-color: var(--color-gray);
  background-size: cover;
  margin: 0 8px;
}

.song .body {
  flex: 4;
  padding: 0 16px;
}

.song .title {
  font-size: 18px;
  color: var(--text-color);
}

.song .author {
  font-size: 12px;
  color: var(--text-color);
}

.song .option {
  flex: 1;
  padding: 16px 8px;
  color: #999;
  /* justify-content: end; */
  font-size: 2rem;
}

.song-time {
  flex: 1;
  font-size: 1.6rem;
}
/*  */

.song-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: var(--color-gray);
}

.song-artist {
  display: block;
  font-size: 1.2rem;
  color: var(--color-gray);
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* gap: 2rem; */
}

.prevbtn,
.nextbtn,
.playpause {
  border: 0;
  outline: 0;
  font-size: 2.2rem;
  background: none;
  color: #eee;
  cursor: pointer;
}

.playpause {
  font-size: 3rem;
  /* position: absolute; */
  /* background: var(--color-primary); */
  /* height: 4.5rem;
  width: 4.5rem; */
  color: var(--color-gray);
  border-radius: 50%;
  /* display: grid;
  place-items: center; */
}

.playpause:disabled {
  color: var(--color-disabled);
}

.current-play {
  position: relative;
  display: inline-block;
  left: 0.1rem;
}

.thumb {
  width: 44px;
  height: 44px;
  border-radius: 4px;
  background-color: var(--color-gray);
  background-size: cover;
  margin: 0 1.6rem 0 0.8rem;
}

.volume {
  width: 12rem;
  margin: 2rem 0 0 3rem;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 2.4rem;
}

.playlist {
  background-color: var(--color-light);
  padding: 1rem;
}

.playlist-banner {
  width: 100%;
  height: 24rem;
  background-color: var(--color-blue-light);
  display: flex;
  align-items: center;
}

.playlist-image-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 1rem; */
}
.playlist-image {
  height: 16rem;
  width: 16rem;
  background-color: #00a0c6;
  border-radius: 8px;
}
.playlist-details {
  flex: 8;
}

.playlist-text {
  font-size: 1.4rem;
  color: var(--color-primary);
}
.playlist-heading {
  font-size: 5.2rem;
  color: var(--color-primary);
}

.playlist-artist {
  color: var(--color-primary);
  font-size: 1.6rem;
}

.loader {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  position: fixed;
  top: 46%;
  left: 46%;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 10px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  inset: 16px;
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #ff3d00;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}

.home {
  padding: 2rem;
}

.heading-primary {
  color: var(--color-danger);
  font-size: 3.2rem;
  font-weight: 600;
  border-bottom: 2px solid #ccc;
  display: inline-block;
}

.playlist-card {
  min-width: 14rem;
  width: 16rem;
  padding: 15px;
  background-color: var(--color-blue-light);
  border-radius: 6px;
  cursor: pointer;
  transition: all ease 0.4s;
}

.playlist-card-image {
  width: 100%;
  height: 14rem;
  border-radius: 6px;
  margin-bottom: 10px;
  background-color: var(--color-danger);
}

.playlist-card h4 {
  color: #222;
  font-size: 1.4rem;
}

.playlists-row {
  display: flex;
  gap: 2rem;
  font-family: sans-serif;
}
